<p id="notice"><%= notice %></p>

<div class="container form-group">
<div class="card">
<div class="heading-title text-center">
  <h1>Intervention Submitted</h1>
</div>
<div class="card-body">

  <div class="row form-control">
    <p>
      <strong>Author:</strong>
      <%= @intervention.author %>
    </p>
  </div>
  <div class="row form-control">
    <p>
      <strong>Customer:</strong>
      <%= @intervention.customer %>
    </p>
  </div>

  <div class="row form-control">
    <p>
      <strong>Building:</strong>
      <%= @intervention.building %>
    </p>
  </div>
  <div class="row form-control">
    <p>
      <strong>Battery:</strong>
      <%= @intervention.battery %>
    </p>
  </div>
  <div class="row form-control">
    <p>
      <strong>Column:</strong>
      <%= @intervention.column %>
    </p>
  </div>
  <div class="row form-control">
    <p>
      <strong>Elevator:</strong>
      <%= @intervention.elevator %>
    </p>
  </div>
  <div class="row form-control">
    <p>
      <strong>Employee:</strong>
      <%= @intervention.employee %>
    </p>
  </div>
  <div class="row form-control">
    <p>
      <strong>Report:</strong>
      <%= @intervention.report %>
    </p>
  </div>

    <%= link_to 'New', new_intervention_path %> |
    <%= link_to 'Home', root_path %>

</div>
</div>
</div>